deeppavlov==1.2.0
pandas>=1.3.0,<1.6.0  # Ограничение совместимости с deeppavlov
numpy>=1.23.2,<1.24.0  # Совместимо с deeppavlov
flask==3.0.0
dash==2.15.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
plotly==5.20.0
nltk==3.8.1
