<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Analysis Dashboard</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/favicon.ico"> <!-- Добавление иконки -->
</head>
<body>
    <header>
        <div class="logo">
            <h1>Text Analysis Dashboard</h1>
        </div>
    </header>

    <main>
        <div id="app">Loading Dashboard...</div>
    </main>

    <footer>
        <p>&copy; 2024 Text Analysis Dashboard. All rights reserved.</p>
    </footer>
</body>
</html>
